{% extends 'base.html' %}
{% block content %}


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">NOM</th>
      <th scope="col">TYPE</th>
      <th scope="col">NIVEAU</th>
    </tr>
  </thead>
  <tbody>
    {% for pokemon in pokemons %}
    <tr>
      <th scope="row">{{pokemon.id}}</th>
      <td>{{pokemon.nom}}</td>
      <td>{{pokemon.type}}</td>
      <td>{{pokemon.niveau}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'create' %}"><button>Ajouter un Pokemon</button></a>


{% endblock content %}